@media (hover: hover) {
  .nav__link:hover {
    color: var(--primary);
  }

  .btn_fill:hover::before {
    opacity: 0;
  }

  .btn_stroke:hover {
    background-color: var(--primary);
  }

  .header__btn:hover {
    color: var(--black);
    background-color: var(--primary);
  }

  .hero__button:hover .hero__button-text {
    color: var(--black);
    background-color: transparent;
  }

  .hero__button_fill:hover::before {
    opacity: 1;
  }

  .swiper-pagination-bullet:hover {
    border-color: var(--red-secondary);
    background-color: var(--red-secondary);
  }

  .file:hover .file__icon {
    border: 2px solid var(--primary);
  }

  .file:hover .file__icon path {
    fill: var(--primary);
  }

  .footer__link:hover {
    opacity: 0.5;
  }
}

@media (max-width: 1440px) {
  .hero {
    background-position: calc(100% + 400px) top;
  }

  .new-stickers__items {
    display: flex;
    justify-content: center;
    gap: 21px;
  }

  .subscribe-container {
    background-image: url("../img/subscribe-tablet.png");
    background-size: auto;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 36px;
  }

  .header {
    padding: 11px 0 12px;
  }

  .hero {
    background-position: calc(100% + 611px) top;
  }

  .hero__title {
    margin-bottom: 37px;
    letter-spacing: 0;
  }

  .auction__content {
    align-items: start;
    gap: 32px;
  }

  .auction__info {
    gap: 29px;
  }

  .auction__bet {
    padding: 34px 53px 26px 33px;
  }

  .auction-timing {
    padding: 32px 199px 30px 32px;
  }

  .auction-timing__part {
    gap: 1px;
  }

  .another-auctions {
    padding-top: 89px;
  }

  .another-auctions__item {
    width: calc((100% - (28px * 2)) / 3);
  }

  .another-auctions__item:nth-last-child(-n + 2) {
    display: none;
  }

  .subscribe-container {
    padding: 29px 36px 28px 36px;
    background-position: calc(100% - 35px) -2px;
  }

  .become-author {
    padding: 90px 0;
  }

  .become-author__content {
    flex-direction: column;
    gap: 0;
  }

  .become-author__text {
    width: 100%;
    padding-right: 142px;
  }

  .become-author__description-top {
    padding-right: 35px;
    margin-bottom: 18px;
    letter-spacing: 0;
  }

  .become-author__description-bottom {
    margin-bottom: 29px;
    letter-spacing: 0;
  }

  .become-author__img {
    display: none;
  }

  .become-author__form {
    width: 100%;
    gap: 32px;
  }

  .become-author__form-desktop {
    display: none;
  }

  .become-author__form-tablet {
    display: flex;
    width: 100%;
    gap: 32px;
  }

  .become-author__bottom-tablet-img {
    position: relative;
    flex-direction: column;
    flex-shrink: 0;
  }

  .become-author-tablet-middle-img {
    position: absolute;
    top: 167px;
    left: 0;
  }
  .become-author-tablet-bottom-img {
    position: absolute;
    top: 335px;
    left: 0;
  }

  .become-author__btn {
    padding: 24px 96px;
  }

  .top-info__container {
    background-position: calc(100% - 36px);
  }
}

@media (max-width: 988px) {
  .hero {
    padding: 106px 0;
  }

  .hero__buttons {
    flex-direction: column;
  }

  .hero__button {
    align-self: flex-start;
  }

  .auction-timing {
    padding: 32px 30px 32px;
    background-image: none;
  }

  .subscribe-container {
    background-image: none;
  }

  .top-sales__list {
    justify-content: center;
  }

  .top-sales__item {
    width: calc((70% - 32px) / 2);
  }

  .top-product {
    flex-direction: column;
  }

  .top-product__img {
    display: none;
  }

  .top-product__img-mobile {
    display: flex;
    justify-content: center;
    padding-top: 12px;
    width: 100%;
    border-radius: 40px 40px 0 0;
    background-color: var(--grey-light);
  }

  .top-product__title {
    font-size: 20px;
    font-weight: 700;
  }

  .top-product__sticker-price {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }

  .top-info__container {
    padding: 32px 0 180px;
    background-position: bottom;
  }
}

@media (max-width: 860px) {
  .auction__content {
    flex-direction: column;
    align-items: center;
  }

  .auction__info {
    align-self: start;
    max-width: 100%;
  }

  .another-auctions__item {
    width: calc((100% - (28px * 1)) / 2);
  }
}

@media (max-width: 768px) {
  .header__container {
    flex-direction: column;
  }

  .header__logo {
    display: flex;
    justify-content: space-between;
    margin-right: 0;
    padding-bottom: 20px;
    width: 100%;
  }

  .header__wallet {
    display: inline;
  }

  .border-middle {
    height: 1px;
  }

  .header .border-middle {
    width: calc(100% + 24px);
    background-color: #c4c4c4;
  }

  .header__nav {
    margin-right: 0;
    padding: 12px 0 0;
    width: 100%;
  }

  .nav-list {
    justify-content: space-between;
  }

  .header__btn {
    display: none;
  }

  .hero__title {
    width: 100%;
    font-size: 45px;
  }

  .become-author__bottom-tablet-img {
    display: none;
  }

  .become-author__form {
    padding-top: 135px;
    background-image: url("../img/become-author-mobile.png");
    background-repeat: no-repeat;
    background-position: top;
  }
}

@media (max-width: 578px) {
  :root {
    --gap: 16px;
  }

  body {
    font-size: 16px;
  }

  .container {
    padding: 0 12px;
  }

  .title {
    font-size: 30px;
  }

  .btn_fill {
    padding: 15px 26px;
  }

  .header {
    padding: 17px 0 11px;
  }

  .header__logo {
    padding-bottom: 17px;
  }

  .header__logo img:first-child {
    width: 75px;
  }

  .header__nav {
    padding-top: 11px;
  }

  .nav-list {
    padding-top: 0;
  }

  .hero {
    padding: 63px 0 209px;
    background-image: url("../img/stickers_hero-mobile.png");
    background-position: bottom;
    background-repeat: repeat-x;
  }

  .hero__title {
    margin-bottom: 16px;
    font-size: 35px;
    line-height: 42px;
  }

  .hero__text {
    width: 100%;
  }

  .hero__button_fill {
    padding: 17px 40px 15px 38px;
  }

  .hero__button_stroke .hero__button-text {
    padding: 12px 22px 10px 21px;
  }

  .auction {
    padding: 62px 0 80px;
  }

  .auction__state {
    padding: 5px 12px;
    font-size: 12px;
  }

  .auction__title {
    margin-bottom: 13px;
  }

  .auction-owner__avatar {
    width: 24px;
  }

  .auction__content {
    gap: 26px;
  }

  .auction__owner {
    gap: 8px;
    border-radius: 18px;
  }

  .auction-owner__nickname {
    font-size: 16px;
  }

  .auction__info {
    gap: 14px;
  }

  .auction__subtitle {
    font-size: 30px;
  }

  .auction__bet {
    padding: 15px 29px 14px 15px;
    border-radius: 18px;
  }

  .auction__caption {
    margin-bottom: 13px;
  }

  .auction__price {
    margin-bottom: 12px;
    font-size: 30px;
  }

  .auction-timing {
    margin-bottom: 18px;
    padding: 16px 19px 15px 18px;
    border-radius: 18px;
  }

  .auction-timing__numbers {
    font-size: 30px;
  }

  .auction__info-btn {
    padding: 16px 41px;
  }

  .another-auctions {
    padding-top: 80px;
  }

  .another-auctions__swiper-wrapper {
    overflow: hidden;
  }

  .another-auctions__list {
    flex-wrap: nowrap;
    gap: 0;
    margin-bottom: 16px;
  }

  .another-auctions .another-auctions_swiper-pagination {
    position: initial;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 32px;
  }

  .another-auctions_swiper-pagination .swiper-pagination-bullet {
    display: block;
    padding: 0;
    width: 10px !important;
    height: 10px !important;
    border: none;
    border-radius: 100%;
    background-color: var(--primary);
  }

  .another-auctions__item {
    width: 100%;
  }

  .another-auctions__content {
    padding: 16px 0 30.5px 16px;
  }

  .another-auctions__title {
    margin-bottom: 33px;
  }

  .another-auctions__subtitle {
    margin-bottom: 9px;
    font-size: 20px;
  }

  .another-auctions__price {
    font-size: 20px;
  }

  .auction__more {
    padding: 10px 28px 7px 28px;
    font-size: 20px;
  }

  .swipe-slide-mobile {
    display: inline;
  }

  .new-stickers {
    padding: 14px 0 64px;
  }

  .new-stickers__pagination {
    gap: 12px;
  }

  .new-stickers__title {
    margin-bottom: 14px;
    padding-left: 32px;
    letter-spacing: 0;
    background-position: 1px 47%;
    background-size: 22px;
  }

  .new-stickers__slider {
    padding-bottom: 17px;
  }

  .new-stickers__items {
    gap: 32px;
  }

  .new-sticker__img-3 {
    display: none;
  }

  .new-sticker__img-4 {
    display: none;
  }

  .new-sticker__img-5 {
    display: none;
  }

  .new-sticker__img-6 {
    display: none;
  }

  .new-sticker__img-7 {
    display: none;
  }

  .new-sticker__img-8 {
    display: none;
  }

  .new-sticker__img-9 {
    display: none;
  }

  .new-sticker__img-mobile-3 {
    display: block;
  }

  .new-sticker__img-mobile-4 {
    display: block;
  }

  .new-sticker__img-mobile-5 {
    display: block;
  }

  .new-sticker__img-mobile-6 {
    display: block;
  }

  .new-sticker__img-mobile-7 {
    display: block;
  }

  .new-sticker__img-mobile-8 {
    display: block;
  }

  .new-sticker__img-mobile-9 {
    display: block;
  }

  .swiper-pagination-bullet {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 36px;
    height: 28px;
    font-size: 12px;
  }

  .swiper-pagination-bullet:nth-last-child(-n + 2) {
    display: flex;
  }

  .subscribe {
    padding: 32px 0 158px;
    background-image: url("../img/subscribe-mobile.png");
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .subscribe__title {
    margin-bottom: 17px;
    letter-spacing: 0;
    line-height: 118%;
  }

  .form-input {
    padding: 16px 32px;
  }

  .form-input_dark {
    width: 100%;
  }

  .subscribe-form__btn {
    padding: 17px 50px;
  }

  .checkbox__text {
    letter-spacing: 0;
  }

  .checkbox__text::before,
  .checkbox__text::after {
    top: 1.9px;
  }

  .become-author {
    padding: 61px 0 80px;
  }

  .become-author__title {
    margin-bottom: 0;
    letter-spacing: 0;
    line-height: 70px;
  }

  .become-author__description-top {
    display: none;
  }

  .become-author__description-bottom {
    margin-bottom: 15px;
    line-height: 176%;
  }

  .file {
    padding: 46px 0 50px;
  }

  .file__icon {
    margin-bottom: 20px;
    width: 60px;
    height: 60px;
  }

  .file__icon svg {
    width: 24px;
    height: 24px;
  }

  .become-author__form {
    gap: var(--gap);
  }

  .become-author__text {
    padding-right: 0;
  }

  .become-author__btn {
    margin-top: -1px;
    padding: 17px 58px 15px 59px;
  }

  .top-sales {
    padding: 14.6px 0 33px;
  }

  .top-sales__title {
    margin-bottom: 0;
    letter-spacing: normal;
  }

  .top-sales__list {
    column-gap: 32px;
    row-gap: 16px;
    margin-top: -2.5px;
  }

  .top-sales__item {
    width: calc((100% - 32px) / 2);
  }

  .top-product {
    gap: 0;
    border-radius: 21.5px 21.5px 18.5px 17.5px;
  }

  .top-product__img-mobile {
    border-radius: 21.5px 21.5px 0 0;
  }

  .top-product__info {
    align-self: start;
    padding: 17px 16px 14px 16.5px;
  }

  .top-info__container {
    padding: 32px 12px 180px;
  }

  .top-info__title {
    font-size: 20px;
  }

  .top-info__item {
    font-size: 16px;
  }

  .footer__top {
    position: relative;
  }

  .footer__container {
    flex-direction: column;
  }

  .footer__logo {
    align-self: center;
    margin-bottom: 20px;
  }

  .footer .border-middle {
    position: absolute;
    top: 84px;
    width: 100%;
    background-color: black;
  }
}

@media (max-width: 375px) {
}
